In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
dataset=pd.read_csv('https://raw.githubusercontent.com/Shreyas3108/house-price-prediction/master/kc_house_data.csv')

In [5]:
dataset.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [6]:
dataset.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [19]:
x=dataset[['bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15']]
x.shape

(21613, 18)

In [20]:
y=dataset['price']
y.shape

(21613,)

In [13]:
from sklearn.feature_selection import VarianceThreshold

In [25]:
z=VarianceThreshold(0.5).fit_transform(x)

In [27]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(z, y, test_size=0.3, random_state=0)
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(15129, 13)
(15129,)
(6484, 13)
(6484,)

In [28]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [29]:
y_pred = regressor.predict(X_test)

In [30]:
df = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})
df

          Actual     Predicted
17384   297000.0  2.570002e+05
722    1578000.0  1.466745e+06
2680    562100.0  5.189863e+05
18754   631500.0  5.629817e+05
14554   780000.0  9.095467e+05
16227   485000.0  2.921554e+05
6631    340000.0  4.616341e+05
19813   335606.0  5.414015e+05
3367    425000.0  6.427273e+05
21372   490000.0  1.201852e+06
3268    732000.0  6.809068e+05
20961   389700.0  2.758415e+05
21456   450000.0  2.759763e+05
3880    357000.0  3.878587e+05
17472   960000.0  8.196355e+05
7618    257000.0  4.291305e+05
1091    448000.0  2.577169e+05
1560    610000.0  5.985018e+05
8945    230950.0  3.177098e+05
8439    377500.0  5.061734e+05
13058   375000.0  3.870478e+05
12080   410000.0  4.209871e+05
7417    459000.0  5.197497e+05
3101    190000.0  2.573791e+05
18769   585000.0  5.966553e+05
7332    280000.0  1.951019e+05
19186   500000.0  3.791793e+05
11875   465000.0  5.161069e+05
14100   802000.0  1.063983e+06
10641   440000.0  4.511420e+05
...          ...           ...
5838    980000.0  8.796230e+05
17350   520000.0  5.342884e+05
17675   325000.0  5.440109e+05
3572    770000.0  5.036853e+05
16888   995000.0  1.466856e+06
21433   465750.0  7.122651e+05
18026   575000.0  4.492155e+05
6588    425000.0  4.620831e+05
11504   398500.0  4.400439e+05
530     270500.0  3.960938e+05
4897    310000.0  3.208410e+05
9185    190000.0  3.012340e+05
13245   492000.0  5.805044e+05
4264    235000.0  4.270108e+05
7673    765000.0  9.620725e+05
13167   530000.0  5.166946e+05
21174   525000.0  5.467090e+05
16924   226000.0  4.154430e+05
19310   624000.0  6.598853e+05
1916    500000.0  4.676814e+05
15231   467500.0  5.605333e+05
8210    203000.0  3.551910e+05
12860   446000.0  3.310171e+05
12947   206000.0  2.828086e+05
21490   529000.0  7.304984e+05
18588  1100000.0  3.710351e+05
6784    700000.0  5.005702e+05
14510   380000.0  3.485230e+05
18917   268000.0  3.050425e+05
11750   206000.0  2.791565e+05

[6484 rows x 2 columns]

In [32]:
from sklearn import metrics
print('Mean Absolute Error: ', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error: ', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error: ', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error:  140454.5126700228
Mean Squared Error:  50725721895.60476
Root Mean Squared Error:  225223.7152157933